img{
    width: 100px;
    height: 75px;
}
mat-card-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
mat-card-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
mat-card{
    width: inherit;
    height: inherit;
}